[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]
black = "*"
bump2version = "*"

[packages]
polydomino = {path = ".",editable = true}
numpy = "*"
opencv-python = "*"
imutils = "*"
flask = "*"
gunicorn = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
